<section class="container create-thought ff-inter">
  <header class="header">
    <h2>Adicione um <br>pensamento novo</h2>
  </header>
  <form>
    <label for="thought">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="thought"
      name="thought"
      placeholder="Digite o pensamento"
      [(ngModel)]="thought.content"
    >

    <label for="authorship">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="authorship"
      name="authorship"
      placeholder="Digite a autoria ou fonte"
      [(ngModel)]="thought.authorship"
    >

    <label for="model">Selecione o modelo do card</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="model1">
          <input type="radio" id="model1" value="model1" name="model-card" [(ngModel)]="thought.model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>

        Prévia
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ thought.content || 'Aqui vai o conteudo' }}</p>
          <p class="autoria"><b>{{ thought.authorship || 'Aqui vai o conteudo' }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="model2">
          <input type="radio" id="model2" value="model2" name="model-card" [(ngModel)]="thought.model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>

        Prévia
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ thought.content || 'Aqui vai o conteudo' }}</p>
          <p class="autoria"><b>{{ thought.authorship || 'Aqui vai o conteudo' }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="model3">
          <input type="radio" id="model3" value="model3" name="model-card" [(ngModel)]="thought.model">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>

        Prévia
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ thought.content || 'Aqui vai o conteudo' }}</p>
          <p class="autoria"><b>{{ thought.authorship || 'Aqui vai o conteudo' }}</b></p>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button (click)="createThought()" class="botao">Salvar</button>
      <button (click)="cancel()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
